<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
    <link rel="icon" id="favicon" href="<%= BASE_URL %>favicon/light.svg" />
    <title>TapAqro</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <script>
      const usesDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      const favicon = document.getElementById("favicon");
      function switchIcon(usesDarkMode) {
        if (!usesDarkMode) {
          favicon.href = "<%= BASE_URL %>favicon/light.svg";
        } else {
          favicon.href = "<%= BASE_URL %>favicon/dark.svg";
        }
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (e) => switchIcon(e.matches));
      switchIcon(usesDarkMode);
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>